main.dash .list .posts .accordion .panel-body.active .content {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

main.dash .list .posts .accordion .panel-body .content {
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }

main.dash .list .posts .accordion .panel-body .label button, main.login form button {
  cursor: pointer;
  padding: 0.4em 0.3em;
  background-color: #1b1f3d;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  border: 0;
  font-weight: normal; }
  main.dash .list .posts .accordion .panel-body .label button:focus, main.login form button:focus {
    border: 1px solid #ff9999;
    outline: 0; }
  main.dash .list .posts .accordion .panel-body .label button:hover, main.login form button:hover {
    opacity: 0.9; }
  @media screen and (min-width: 600px) {
    main.dash .list .posts .accordion .panel-body .label button, main.login form button {
      margin: 1px; } }

main.dash .list .posts .accordion .panel-body .label button, main.login form, main.dash .list .users .user, main.dash .list .posts {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.13); }

main.dash .list .posts .accordion {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%; }
  main.dash .list .posts .accordion .panel-body {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1px; }
    main.dash .list .posts .accordion .panel-body.active .content {
      height: auto;
      padding: 5px; }
    main.dash .list .posts .accordion .panel-body .label {
      width: 100%;
      height: 50px; }
      main.dash .list .posts .accordion .panel-body .label button {
        background-color: #ff9999;
        color: black;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: column; }
        @media screen and (min-width: 720px) {
          main.dash .list .posts .accordion .panel-body .label button {
            flex-direction: row; } }
        main.dash .list .posts .accordion .panel-body .label button span {
          font-size: 15px;
          font-size: 0.9375rem;
          display: block;
          font-weight: bold; }
    main.dash .list .posts .accordion .panel-body .content {
      border: 0;
      height: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

h1 {
  font-size: 26px;
  font-size: 1.625rem; }

h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

.loading-box.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }
.loading-box p {
  text-align: center;
  font-size: 16px;
  font-size: 1rem; }
.loading-box .loading {
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }
  .loading-box .loading.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    height: 40px; }
  .loading-box .loading div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff9999;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -moz-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -ms-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -o-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .loading-box .loading div:nth-child(1) {
      left: 8px;
      -webkit-animation: ld1 0.6s infinite;
      -moz-animation: ld1 0.6s infinite;
      -ms-animation: ld1 0.6s infinite;
      -o-animation: ld1 0.6s infinite;
      animation: ld1 0.6s infinite; }
    .loading-box .loading div:nth-child(2) {
      left: 8px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(3) {
      left: 32px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(4) {
      left: 56px;
      -webkit-animation: ld3 0.6s infinite;
      -moz-animation: ld3 0.6s infinite;
      -ms-animation: ld3 0.6s infinite;
      -o-animation: ld3 0.6s infinite;
      animation: ld3 0.6s infinite; }

@keyframes ld1 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes ld3 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@keyframes ld2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    -moz-transform: translate(24px, 0);
    -ms-transform: translate(24px, 0);
    -o-transform: translate(24px, 0);
    transform: translate(24px, 0); } }
main.dash .list .posts .accordion .panel-body.active .content {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

main.dash .list .posts .accordion .panel-body .content {
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }

main.dash .list .posts .accordion .panel-body .label button, main.login form button {
  cursor: pointer;
  padding: 0.4em 0.3em;
  background-color: #1b1f3d;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  border: 0;
  font-weight: normal; }
  main.dash .list .posts .accordion .panel-body .label button:focus, main.login form button:focus {
    border: 1px solid #ff9999;
    outline: 0; }
  main.dash .list .posts .accordion .panel-body .label button:hover, main.login form button:hover {
    opacity: 0.9; }
  @media screen and (min-width: 600px) {
    main.dash .list .posts .accordion .panel-body .label button, main.login form button {
      margin: 1px; } }

main.dash .list .posts .accordion .panel-body .label button, main.login form, main.dash .list .users .user, main.dash .list .posts {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.13); }

main.dash .list .posts .accordion {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%; }
  main.dash .list .posts .accordion .panel-body {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1px; }
    main.dash .list .posts .accordion .panel-body.active .content {
      height: auto;
      padding: 5px; }
    main.dash .list .posts .accordion .panel-body .label {
      width: 100%;
      height: 50px; }
      main.dash .list .posts .accordion .panel-body .label button {
        background-color: #ff9999;
        color: black;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: column; }
        @media screen and (min-width: 720px) {
          main.dash .list .posts .accordion .panel-body .label button {
            flex-direction: row; } }
        main.dash .list .posts .accordion .panel-body .label button span {
          font-size: 15px;
          font-size: 0.9375rem;
          display: block;
          font-weight: bold; }
    main.dash .list .posts .accordion .panel-body .content {
      border: 0;
      height: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

h1 {
  font-size: 26px;
  font-size: 1.625rem; }

h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

.loading-box.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }
.loading-box p {
  text-align: center;
  font-size: 16px;
  font-size: 1rem; }
.loading-box .loading {
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }
  .loading-box .loading.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    height: 40px; }
  .loading-box .loading div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff9999;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -moz-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -ms-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -o-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .loading-box .loading div:nth-child(1) {
      left: 8px;
      -webkit-animation: ld1 0.6s infinite;
      -moz-animation: ld1 0.6s infinite;
      -ms-animation: ld1 0.6s infinite;
      -o-animation: ld1 0.6s infinite;
      animation: ld1 0.6s infinite; }
    .loading-box .loading div:nth-child(2) {
      left: 8px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(3) {
      left: 32px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(4) {
      left: 56px;
      -webkit-animation: ld3 0.6s infinite;
      -moz-animation: ld3 0.6s infinite;
      -ms-animation: ld3 0.6s infinite;
      -o-animation: ld3 0.6s infinite;
      animation: ld3 0.6s infinite; }

@keyframes ld1 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes ld3 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@keyframes ld2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    -moz-transform: translate(24px, 0);
    -ms-transform: translate(24px, 0);
    -o-transform: translate(24px, 0);
    transform: translate(24px, 0); } }
html, body, #root, .app {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #fff; }

html {
  font-size: 16px;
  font-size: 1rem; }
  @media screen and (min-width: 400px) {
    html {
      font-size: 17px;
      font-size: 1.0625rem; } }
  @media screen and (min-width: 650px) {
    html {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (min-width: 950px) {
    html {
      font-size: 20px;
      font-size: 1.25rem; } }
  @media screen and (min-width: 1250px) {
    html {
      font-size: 22px;
      font-size: 1.375rem; } }
  html body {
    color: #666; }
    html body p {
      font-size: 16px;
      font-size: 1rem; }
  html .app header, html .app footer {
    height: 80px;
    max-width: 1300px;
    margin: 0 auto; }
  html .app .container {
    min-width: 320px;
    max-width: 1300px;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    min-height: -webkit-calc(100vh - 180px);
    min-height: -moz-calc(100vh - 180px);
    min-height: -ms-calc(100vh - 180px);
    min-height: -o-calc(100vh - 180px);
    min-height: calc(100vh - 180px);
    overflow-x: hidden; }
    html .app .container.center {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }

main.dash .list .posts .accordion .panel-body.active .content {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

main.dash .list .posts .accordion .panel-body .content {
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }

main.dash .list .posts .accordion .panel-body .label button, main.login form button {
  cursor: pointer;
  padding: 0.4em 0.3em;
  background-color: #1b1f3d;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  border: 0;
  font-weight: normal; }
  main.dash .list .posts .accordion .panel-body .label button:focus, main.login form button:focus {
    border: 1px solid #ff9999;
    outline: 0; }
  main.dash .list .posts .accordion .panel-body .label button:hover, main.login form button:hover {
    opacity: 0.9; }
  @media screen and (min-width: 600px) {
    main.dash .list .posts .accordion .panel-body .label button, main.login form button {
      margin: 1px; } }

main.dash .list .posts .accordion .panel-body .label button, main.login form, main.dash .list .users .user, main.dash .list .posts {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.13); }

main.dash .list .posts .accordion {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%; }
  main.dash .list .posts .accordion .panel-body {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1px; }
    main.dash .list .posts .accordion .panel-body.active .content {
      height: auto;
      padding: 5px; }
    main.dash .list .posts .accordion .panel-body .label {
      width: 100%;
      height: 50px; }
      main.dash .list .posts .accordion .panel-body .label button {
        background-color: #ff9999;
        color: black;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: column; }
        @media screen and (min-width: 720px) {
          main.dash .list .posts .accordion .panel-body .label button {
            flex-direction: row; } }
        main.dash .list .posts .accordion .panel-body .label button span {
          font-size: 15px;
          font-size: 0.9375rem;
          display: block;
          font-weight: bold; }
    main.dash .list .posts .accordion .panel-body .content {
      border: 0;
      height: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

h1 {
  font-size: 26px;
  font-size: 1.625rem; }

h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

.loading-box.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }
.loading-box p {
  text-align: center;
  font-size: 16px;
  font-size: 1rem; }
.loading-box .loading {
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }
  .loading-box .loading.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    height: 40px; }
  .loading-box .loading div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff9999;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -moz-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -ms-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -o-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .loading-box .loading div:nth-child(1) {
      left: 8px;
      -webkit-animation: ld1 0.6s infinite;
      -moz-animation: ld1 0.6s infinite;
      -ms-animation: ld1 0.6s infinite;
      -o-animation: ld1 0.6s infinite;
      animation: ld1 0.6s infinite; }
    .loading-box .loading div:nth-child(2) {
      left: 8px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(3) {
      left: 32px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(4) {
      left: 56px;
      -webkit-animation: ld3 0.6s infinite;
      -moz-animation: ld3 0.6s infinite;
      -ms-animation: ld3 0.6s infinite;
      -o-animation: ld3 0.6s infinite;
      animation: ld3 0.6s infinite; }

@keyframes ld1 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes ld3 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@keyframes ld2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    -moz-transform: translate(24px, 0);
    -ms-transform: translate(24px, 0);
    -o-transform: translate(24px, 0);
    transform: translate(24px, 0); } }
main.login form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-width: 300px; }
  main.login form .btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    min-width: 250px;
    max-width: 300px; }
  main.login form input {
    border: 1px solid #ff9999;
    padding: 10px 20px;
    margin-bottom: 15px;
    outline-color: #ff9999;
    min-width: 250px;
    max-width: 300px; }
  main.login form button {
    width: 100px;
    padding: 10px 20px;
    background-color: #ff9999; }

main.dash .list .posts .accordion .panel-body.active .content {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

main.dash .list .posts .accordion .panel-body .content {
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }

main.dash .list .posts .accordion .panel-body .label button, main.login form button {
  cursor: pointer;
  padding: 0.4em 0.3em;
  background-color: #1b1f3d;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  border: 0;
  font-weight: normal; }
  main.dash .list .posts .accordion .panel-body .label button:focus, main.login form button:focus {
    border: 1px solid #ff9999;
    outline: 0; }
  main.dash .list .posts .accordion .panel-body .label button:hover, main.login form button:hover {
    opacity: 0.9; }
  @media screen and (min-width: 600px) {
    main.dash .list .posts .accordion .panel-body .label button, main.login form button {
      margin: 1px; } }

main.dash .list .posts .accordion .panel-body .label button, main.login form, main.dash .list .users .user, main.dash .list .posts {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.13); }

main.dash .list .posts .accordion {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%; }
  main.dash .list .posts .accordion .panel-body {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1px; }
    main.dash .list .posts .accordion .panel-body.active .content {
      height: auto;
      padding: 5px; }
    main.dash .list .posts .accordion .panel-body .label {
      width: 100%;
      height: 50px; }
      main.dash .list .posts .accordion .panel-body .label button {
        background-color: #ff9999;
        color: black;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: column; }
        @media screen and (min-width: 720px) {
          main.dash .list .posts .accordion .panel-body .label button {
            flex-direction: row; } }
        main.dash .list .posts .accordion .panel-body .label button span {
          font-size: 15px;
          font-size: 0.9375rem;
          display: block;
          font-weight: bold; }
    main.dash .list .posts .accordion .panel-body .content {
      border: 0;
      height: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

h1 {
  font-size: 26px;
  font-size: 1.625rem; }

h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

.loading-box.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }
.loading-box p {
  text-align: center;
  font-size: 16px;
  font-size: 1rem; }
.loading-box .loading {
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -opacity-transition: visibility 0s linear 0.5s;
  -0.5s-transition: visibility 0s linear 0.5s;
  -linear-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s; }
  .loading-box .loading.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    height: 40px; }
  .loading-box .loading div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff9999;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -moz-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -ms-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    -o-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .loading-box .loading div:nth-child(1) {
      left: 8px;
      -webkit-animation: ld1 0.6s infinite;
      -moz-animation: ld1 0.6s infinite;
      -ms-animation: ld1 0.6s infinite;
      -o-animation: ld1 0.6s infinite;
      animation: ld1 0.6s infinite; }
    .loading-box .loading div:nth-child(2) {
      left: 8px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(3) {
      left: 32px;
      -webkit-animation: ld2 0.6s infinite;
      -moz-animation: ld2 0.6s infinite;
      -ms-animation: ld2 0.6s infinite;
      -o-animation: ld2 0.6s infinite;
      animation: ld2 0.6s infinite; }
    .loading-box .loading div:nth-child(4) {
      left: 56px;
      -webkit-animation: ld3 0.6s infinite;
      -moz-animation: ld3 0.6s infinite;
      -ms-animation: ld3 0.6s infinite;
      -o-animation: ld3 0.6s infinite;
      animation: ld3 0.6s infinite; }

@keyframes ld1 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes ld3 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@keyframes ld2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    -moz-transform: translate(24px, 0);
    -ms-transform: translate(24px, 0);
    -o-transform: translate(24px, 0);
    transform: translate(24px, 0); } }
main.dash .list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between; }
  main.dash .list .users {
    width: 30%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    main.dash .list .users .user {
      width: 100%;
      margin: 2px 0; }
      main.dash .list .users .user a {
        width: 100%;
        height: 30px;
        padding: 0 10px;
        text-decoration: none;
        color: black;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-size: 1rem;
        font-weight: bold; }
        main.dash .list .users .user a > * {
          text-align: center; }
          main.dash .list .users .user a > *:first-child {
            width: 70%; }
          main.dash .list .users .user a > *:last-child {
            width: 30%; }
      main.dash .list .users .user.mark {
        box-shadow: none;
        border-color: white; }
        main.dash .list .users .user.mark a {
          color: pink; }
  main.dash .list .posts {
    width: 70%;
    padding: 10px; }

/*# sourceMappingURL=index.css.map */
